.about-container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	justify-items: center;
	width: calc(100% - 4em);
	max-width: 800px;
	margin: 8em 2em 2em 2em;
}

.profile-picture {
	width: 100%;
	max-width: 350px;
	max-height: 350px;
}

.about-me {
	margin-left: 2em;
}

.paragraph + .paragraph {
	margin-top: 1em;
}

@media only screen and (max-width: 600px) {
	.about-container {
		grid-template-columns: 1fr;
	}

	.about-me {
		margin-left: 0;
		margin-top: 2em;
	}
}